
<div>
  <h2>User info</h2>

<%= notice %>
<table class="table table-striped ">
  <tbody>
    <tr>
      <%= attachment_image_tag @user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "60x60" %>

    </tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <br>
    <br>

    <tr >
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div >
  <%= link_to"" , edit_user_path(user), class:"glyphicon glyphicon-wrench btn btn-default col-xs-12 "   %>
</div>
</div>


<div>
<h2>New book</h2>
<br>
<% if @book.errors.any? %>
  <div class="alert alert-warning">
     <h4><%= @book.errors.count %>
     errors prohibited this book from being saved:</h4>
    <ul>
      <% @book.errors.full_messages.each do |message| %>

        <li><%= message %></li>

      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(book) do |f| %>

<h3>Title</h3>
<%= f.text_field :title %>

<h3>opinion</h3>

<%= f.text_area :body %><br>
<br>

<%= f.submit "Create Book", class:"btn btn-primary"  %>

<% end %>
</div>



