

<div class="col-xs-offset-4">
<div>
<h1>Editing Book</h1>


<%= form_for(@book) do |f| %>

<h5>Title</h5>
<%= f.text_field :title, class: "col-xs-5" %>
</div>
<br>
<br>
<div>
<h5>opinion</h5>

<%= f.text_area :body, class: "col-xs-5" %>
</div>
<br>
<br>
<br>
<div>

<%= f.submit "Update Book", class: "btn btn-primary  col-xs-5"   %>
<% end %>
</div>
<br>
<br>
<br>
<%= link_to "Show",book_path(@book) %>
|
<%= link_to "Back",books_path %>


</div>
