<!DOCTYPE html>
<html>
  <head>
    <title>Book2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="body  clearfix">
    <header class="heade clearfix" >

      <h3>Bookers </h3>

       <div><% if user_signed_in? %>
      <div class="nav1">

         <%= link_to "logout",destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out btn btn-white" %></div>
       <div class="nav2">

         <%= link_to "Books", books_path, class:"glyphicon glyphicon-book btn btn-white" %></div>

      <div class="nav3">
        <%= link_to "Users", users_path,  class:"glyphicon glyphicon-user btn btn-white"  %></div>

       <div class="nav4">
         <%= link_to "Home", user_path(current_user), class:"glyphicon glyphicon-home "%></div>
       </div>




      <div>
       <% else    %>

        <div class="nav1">
       <%= link_to"log in", new_user_session_path, class:"glyphicon glyphicon-log-in"  %></div>

       <div class="nav2">
       <%= link_to"Sign Up", new_user_registration_path, class:"glyphicon glyphicon-edit" %></div>


        <div class="nav3">

        <%= link_to"About", home_about_path, class:"glyphicon glyphicon-link" %></div>


        <div class="nav4">

         <%= link_to"Home", home_index_path, class:"glyphicon glyphicon-home" %></div>
      </div>

   <% end %>

    </header>




<%= yield %>
<br>
<br>

<p class="copy">CopyRight Infratop.inc</p>


  </body>
</html>


